/*Variables de colores*/
:root {
    --color-headerBarra: #97122b;
    --color-headerMenu: #F5A100;
    --color-fondo: #f8f8f8;
    --color-texto: #333;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);

}

/*la barra de navegación / nav fija*/
header {
    background-color: var(--color-headerBarra);
    top: 0;
    left: 0;

    text-align: center;
}


h1 {
    color: var(--color-headerMenu);
    margin: 0;
}

ul {
    list-style-type: none;
    /*saca los puntos de la lista*/
    position: relative;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li a {
    display: block;
    color: var(--color-texto);
    padding: 1em 1em;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: var(--color-headerMenu);
}

ul li a.active {
    background-color: var(--color-headerMenu);
}

main {
    padding-top: 80px;
}

/*-----------pagina lugares--------------*/